    <div class="row">
        <div class="col-9">
            <h1 class="text-left title"> Información Financiera</h1>
            <form class="user-form" [formGroup]="infoFinanceGroup">
                <div class="form-outline mb-4">
                    <label class="form-label" for="cbBank">Banco: </label> 
                    <br>
                    <select class="round "  id="cbBank" aria-label="Default select example">
                        <div class="padding-tl">
                            <div *ngFor="let validation of validationMessages.bank">
                              <span
                                class="text-blue"
                                *ngIf="infoFinanceGroup.get('bank')!.hasError(validation.type)"
                              >
                                {{ validation.message }}
                              </span>
                            </div>     
                        </div>  
                    </select>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="txClabe">Clabe: </label>
                    <input type="text" id="txClabe" class="form-control" />
                    <div class="padding-tl">
                        <div *ngFor="let validation of validationMessages.clabe">
                          <span
                            class="text-blue"
                            *ngIf="infoFinanceGroup.get('clabe')!.hasError(validation.type)"
                          >
                            {{ validation.message }}
                          </span>
                        </div>     
                    </div>  
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="txAccountBank">Cuenta Bancaria: </label>
                    <input type="text" id="txAccountBank" class="form-control" />
                    <div class="padding-tl">
                        <div *ngFor="let validation of validationMessages.savings">
                          <span
                            class="text-blue"
                            *ngIf="infoFinanceGroup.get('savings')!.hasError(validation.type)"
                          >
                            {{ validation.message }}
                          </span>
                        </div>     
                    </div>  
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="cbSavings">Origen de Fondos: </label> 
                    <br>
                    <select class="round "  id="cbSavings" aria-label="Default select example">
                    </select>
                    <div class="padding-tl">
                        <div *ngFor="let validation of validationMessages.accountBank">
                          <span
                            class="text-blue"
                            *ngIf="infoFinanceGroup.get('accountBank')!.hasError(validation.type)"
                          >
                            {{ validation.message }}
                          </span>
                        </div>     
                    </div>  
                </div>   

                <div class="form-outline mb-4">
                    <div class="row">
                        
                    <div class="col-6">
                        <button type="button" class="col-5 btn btn-secondary" [disabled]="evaluateForm()">Regresar</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="col-5 btn  btn-success btn-secondary" (click)="nextPhase()"  [disabled]="evaluateForm()">Registrar</button>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

