.grafico .content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 160px;
}

.grafico .content span{
    font-family: 'Roboto';
    font-size: 13px;
    color: #707070;
}

.grafico .line{
    background-color: #CCCCCC;
    width: 100%;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.grafico .legends{
    display: flex;
    flex-direction: row;
    color: #707070;
    font-family: 'Roboto';
    font-size: 12px;
    text-align: center;
}