<div class="principal">
    <div class="row">
        <div class="col-11">
            <h1 class="text-left title"> Datos domiciliarios</h1>
            <form class="user-form" >
                <div class="form-outline mb-4">
                    <label class="form-label" for="cbState">Estado: </label> 
                    <br>
                    <select class="round "  id="cbState" aria-label="Default select example">
                       
                    </select>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="cbCity">Municipio: </label> 
                    <br>
                    <select class="round "  id="cbCity" aria-label="Default select example">
                    </select>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="cbPostalCode">Código Postal: </label> 
                    <br>
                    <select class="round "  id="cbPostalCode" aria-label="Default select example">
                    </select>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="cbColony">Colonia: </label> 
                    <br>
                    <select class="round "  id="cbColony" aria-label="Default select example">
                    </select>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="txStreet">Calle</label>
                    <input type="text" id="txStreet" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="txIntStreet">Número de calle:</label>
                    <input type="number" id="txIntStreet" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                    <div class="row">
                    <div class="col-6">
                        <button type="button" class="col-5 btn btn-secondary" >Regresar</button>
                    </div>
                    <button class="cssbuttons-io-button"> Siguiente
                        <div class="icon">
                          <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
                        </div>
                      </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
