    <div class="row">
        <div class="col-11">
            <h1 class="text-left title"> Datos personales</h1>
            <form class="user-form" [formGroup]="inversorGroup">
                <div class="form-outline mb-4">
                    <label class="form-label" for="txName">Nombre*</label>
                    <input type="text" id="txName" class="form-control" required/>
                    <div class="padding-tl">
                        <div *ngFor="let validation of validationMessages.names">
                          <span
                            class="text-danger"
                            *ngIf="inversorGroup.get('names')!.hasError(validation.type)"
                          >
                            {{ validation.message }}
                          </span>
                        </div>     
                    </div>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="txLastFatherName">Apellido Paterno*</label>
                    <input type="text" id="txLastFatherName" class="form-control" required/>
                    <div class="padding-tl">
                        <div *ngFor="let validation of validationMessages.lastFatherName">
                          <span
                            class="text-danger"
                            *ngIf="inversorGroup.get('lastFatherName')!.hasError(validation.type)"
                          >
                            {{ validation.message }}
                          </span>
                        </div>     
                    </div>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="txLastMotherName">Apellido Materno*</label>
                    <input type="text" id="txLastMotherName" class="form-control" required/>
                    <div class="padding-tl">
                        <div *ngFor="let validation of validationMessages.lastMotherName">
                          <span
                            class="text-danger"
                            *ngIf="inversorGroup.get('lastMotherName')!.hasError(validation.type)"
                          >
                            {{ validation.message }}
                          </span>
                        </div>     
                    </div>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="txRFC">RFC* </label>
                    <input type="text" id="txRFC" class="form-control" required />
                    <div class="padding-tl">
                        <div *ngFor="let validation of validationMessages.rfc">
                          <span
                            class="text-danger"
                            *ngIf="inversorGroup.get('rfc')!.hasError(validation.type)"
                          >
                            {{ validation.message }}
                          </span>
                        </div>     
                    </div>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="txDate">Fecha de nacimiento*</label>
                    <input type="date" id="txDate" class="form-control" />
                    <div class="padding-tl">
                        <div *ngFor="let validation of validationMessages.date">
                          <span
                            class="text-danger"
                            *ngIf="inversorGroup.get('date')!.hasError(validation.type)"
                          >
                            {{ validation.message }}
                          </span>
                        </div>     
                    </div>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="cbGrade">Grado académico:* </label> 
                    <br>
                    <select class="round "  id="cbGrade" aria-label="Default select example">
                        <option selected value="primaria">Primaria</option>
                        <option selected value="secundaria">Secundaria</option>
                        <option selected value="bachiller">Bachillerato</option>
                        <option selected value="tecnica">Carrera técnica</option>
                        <option selected value="universidad">Universidad</option>
                        <option selected value="maestria">Maestría</option>
                        <option selected value="doctorado">Doctorado</option>
                    </select>
                </div>
  
                <div class="form-outline mb-4">
                    <label class="form-label" for="txWork">Profesión*</label>
                    <input type="text" id="txWork" class="form-control" required/>
                    <div class="padding-tl">
                        <div *ngFor="let validation of validationMessages.work">
                          <span
                            class="text-danger"
                            *ngIf="inversorGroup.get('work')!.hasError(validation.type)"
                          >
                            {{ validation.message }}
                          </span>
                        </div>     
                    </div>
                </div>
                <div class="form-outline mb-4">
                    <div class="row">
                    <div class="col-6">
                        <button type="button" class="col-5 btn btn-secondary" onclick="previousPage()" >Cancelar</button>
                    </div>
                    <button class="cssbuttons-io-button"  [disabled]=" !evaluateForm()"> Siguiente
                        <div class="icon">
                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
                        </div>
                    </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
